.contact-page {
  background: url('../../assets/background.png') no-repeat center;
  min-height: 100vh;

  padding: 20px;
}

.contact-page__inner {
  width: 750px;
  margin: 0 auto;

  header {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #fff;
  }
}
