.contact,
.contact__data,
.contact__crud {
  display: flex;
}

.contact {
  justify-content: space-between;

  border-radius: 10px;

  padding: 8px;
  margin-bottom: 10px;

  backdrop-filter: blur(50px);
  box-shadow: -1px -1px 26px 2px rgb(0 0 0 / 40%);
}

.contact__crud {
  max-height: 29px;

  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  @media screen and (max-width: 600px) {
    width: 100px;
  }
}

.contact__crud-delete,
.contact__crud-edit {
  cursor: pointer;
  position: relative;

  font-size: 25px;

  margin-left: 10px;

  &:hover::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: -12px;

    width: 50px;
    height: 22px;
    padding: 2px;

    border-radius: 5px;
    border: 1px solid #807e7e;
    background-color: #6a6a6a;

    font-size: 15px;
    font-weight: 300;
    text-align: center;
    line-height: 1;
    color: #fff;
  }

  svg {

    transition: all .2s linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.contact__crud-delete {
  color: #ff5f5f;

  &:hover {
    color: red;
  }
}

.contact__crud-edit {
  color: #00d1ff;

  &:hover {
    color: #68e4ff;
  }
}

.contact__data-img {
  border-radius: 10px;

  @media screen and (max-width: 530px) {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 530px) {
    display: none;
  }
}

.contact__data-info {
  margin-left: 20px;

  color: #fff;

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 0;
  }
}
