.contact,
.contact__data,
.contact__crud {
  display: flex;
}

.contact {
  justify-content: space-between;

  border-radius: 10px;

  padding: 8px;
  margin-bottom: 10px;

  backdrop-filter: blur(50px);
  box-shadow: -1px -1px 26px 2px rgb(0 0 0 / 40%);
}

.contact__crud {
  max-height: 29px;

  flex-wrap: wrap;
  justify-content: flex-end;

  @media screen and (max-width: 600px) {
    width: 100px;
  }
}

.contact__crud-delete {
  border: 2px solid #ff1010;

  color: #ff1010;

  &:hover {
    background: #ff1010;
    color: #fff;
  }
}

.contact__crud-edit {
  border: 2px solid #10cfff;

  color: #10cfff;

  &:hover {
    background: #10cfff;
    color: #fff;
  }
}

.contact__crud-delete,
.contact__crud-edit {
  padding: 5px 20px;
  margin-right: 10px;

  border-radius: 10px;

  background: transparent;

  line-height: 1;
  font-weight: 600;

  transition: all 0.1s linear;

  @media screen and (max-width: 600px) {
    width: 100%;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 400px) {
    margin-right: 0;
    width: 70px;
    padding: 5px 0;
  }
}

.contact__data-img {
  border-radius: 10px;

  @media screen and (max-width: 530px) {
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 530px) {
    display: none;
  }
}

.contact__data-info {
  margin-left: 20px;

  color: #fff;

  h3 {
    margin: 0;
    margin-bottom: 5px;
  }

  @media screen and (max-width: 400px) {
    margin-left: 0;
  }
}
